@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General Styles */

body {
  font-family: "Lexend", sans-serif;
  color: #22130c;
}

a:hover {
  color: #f28585;
}

.uppercase {
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header */
 

.active {
  border-bottom: 1px solid #22130c;
}

/* Navbar */

.nav {
  background-color: #85a6a6;
}

.navbar {
  margin-bottom: 0;
  width: 100%;
  border: 0;
  box-shadow: 0 2px 2px #22130c;
}

.navbar-brand {
  text-transform: uppercase;
  font-size: 150%;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
}

.navbar .navbar-toggler {
  color: #22130c;
}

.navbar .navbar-brand {
  font-weight: bold;
}

.navbar .navbar-nav a {
  font-weight: bold;
}

.ci--hamburger-lg {
  display: inline-block;
  width: 2em;
  height: 2em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%2322130c' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M3 17h18M3 12h18M3 7h18'/%3E%3C/svg%3E");
}

.dropdown-menu {
  background-color: #85a6a6;
}

/* Footer */

footer {
  background-color: #85a6a6;
  margin: 0;
}

.social-links {
  padding-bottom: 15px;
}

.social-links li a i {
  width: 2em;
  height: 32px;
  padding: 12px 0;
  font-size: 13px;
  line-height: 7px;
  text-align: center;
  background: #85a6a6;
}

.social-links li a i:hover {
  background: #f28585;
}

#footer-details {
  padding: 20px;
}

th, td {
  padding-left: 5px;
}

/* Buttons */

.btn-orange {
  background-color: #F28705;
  color:#22130c;
  border:solid 1px #22130c;

}

.btn-orange a:hover {
  color: #85a6a6;
}